@{
ViewData["Title"] = "Início";
Layout=null;
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
    integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.css"
    integrity="sha256-46qynGAkLSFpVbEBog43gvNhfrOj+BmwXdxFgVK/Kvc=" crossorigin="anonymous" />
  <link rel="stylesheet" href="~/css/site.css" />
  }
  <div class="container">
<div class="row mt-5">
    <div class="card card-body shadow-sm m-2">
        <a asp-action="Criar" asp-controller="Helps">
            <div class="text-center h3 p-5">
                <em class="fas fa-hands-helping"></em>
                Pedir help
            </div>
        </a>
    </div>
    <div class="card card-body shadow-sm m-2">
        <a asp-action="Index" asp-controller="Helps">
            <div class="text-center h3 p-5">
                <em class="fas fa-headset"></em>
                Atender help
            </div>
        </a>
    </div>
</div>
</div>
@section Scripts{
}