@{
ViewData["Title"] = "Início";
Layout = "_LayoutPublic";
}
<div class="row mt-3">
    <div class="card card-body shadow-sm m-2">
        <a asp-action="Criar" asp-controller="Helps">
            <div class="text-center h3 p-5">
                <em class="fas fa-hands-helping"></em>
                Pedir help
            </div>
        </a>
    </div>
    <div class="card card-body shadow-sm m-2">
        <a asp-action="Index" asp-controller="Helps">
            <div class="text-center h3 p-5">
                <em class="fas fa-headset"></em>
                Atender help
            </div>
        </a>
    </div>
</div>

@section Scripts{
}