@{
    ViewData["Title"] = "Enviado";
}

<h2 class="text-center text-success">Você será atendido em breve!</h2>

<div class="text-center">
    <a asp-action="Criar" asp-controller="Helps" class="btn btn-primary btn-lg">Novo help</a>
    <a asp-action="Index" asp-controller="Home" class="btn btn-secondary btn-lg">Sair</a>
</div>
