@model IEnumerable<Help>
  @{
  Layout = "_Layout";
  ViewData["Title"] = "Todos os Helps";
  }
  @if(@Model.Any()){
  <div class="card card-body">
    <div class="table-responsive">
      <table class="table table-hover">
        <thead>
          <tr>
            <th>Registro</th>
            <th>Setor</th>
            <th>Tipo de Problema</th>
            <th>Situação</th>
          </tr>
        </thead>
        <tbody>
          @foreach(var item in Model){
          <tr onclick="window.location='Helps/Detalhes/@item.Id';">
            <td>@item.DataDeRegistro</td>
            <td>@item.Setor</td>
            <td>@item.TipoDeProblema</td>
            <td>@item.Situacao.ToString("F")</td>
          </tr>
          }
        </tbody>
      </table>
    </div>
  </div>
  }else{
  <h3 class="card card-body alert-primary">Nenhum help cadastrado!</h3>
  }

  @section Scripts{
   <script>

   </script>
  }