@model IEnumerable<Tecnico>
  @{
  Layout = "_Layout";
  ViewData["Title"] = "Técnicos";
  }

<div class="card card-body"></div>
  <ul class="list-group">
    @foreach(var item in Model){
    <a asp-action="Editar" asp-route-id="@item.Id">
      <li class="list-group-item list-group-item-action">
        @item.Nome
      </li>
    </a>
    }
  </ul>