@model IEnumerable<Usuario>
  @{
  Layout = "_Layout";
  ViewData["Title"] = "Usuários";
  }
<a class="btn btn-primary" asp-action="Criar">Novo</a>
  <div class="card card-body">
    <table class="table table-hover">
      <thead>
        <tr>
          <th>Nome</th>
          <th>Perfil</th>
          <th>Email</th>
           <th>###</th>
        </tr>
      </thead>
      <tbody>
        @foreach(var item in Model){
        <tr>
          <td> @item.Nome</td>
          <td> @item.Perfil</td>
          <td> @item.Email</td>
          <td>
            <form asp-route-id="@item.Id" asp-action="Excluir">
             <button class="btn btn-danger" type="submit">Excluir</button>
            </form>
          </td>
        </tr>
        }
      </tbody>
    </table>
  </div>